@import '_variables';

.tableDiv {
    overflow-x: auto;
    width: 100%;
}

table {
    border-collapse: collapse;
}

th {
    background-color: $emphasis-colour;
    color: white;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: $font-color;
}

tr:hover {
    background-color: $hover-background;
}

.header__main {
    color: $emphasis-colour;
}
