$emphasis-colour: #192e8c;
$blue: #192e8c;
$background-color: #EEEEEE;
$hover-background: #f5f5f5;
$font: Helvetica Neue,Helvetica,Arial,sans-serif;
$font-size-medium: 16px;
$font-size-small: 8px;
$font-size-large: 20px;
$font-color: rgb(59, 53, 53);
