@import '_variables';
@import '_table';
@import '_nav-bar';

html {
    background-color: black;
}

h1, h2, h3, h4 {
    color: $emphasisColor;
}

.body__main {
    width: 100%;
    height: 100%;
    font-family: $font;
    font-size: $font-size-medium;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.body__background_color {
    background-color: $backgroundColor;
}

a {
    text-decoration: none;
    color: $emphasisColor;
    font-size: $font-size-medium;
}

.code {
    background-color: $textColor;
}

.main {
    width: 100%;
    position: absolute;
    word-wrap: break-word;
    text-align: justify;
    padding: 0% 20%;
    top: 10%;
    box-sizing: border-box;
}

.article {
    position: relative;
    text-align: justify;
    margin-top: 32px;
    padding-bottom: 48px;
    color: $textColor;
}

.home-intro {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 5%;
}

@media screen and (max-width: 800px) {
    body {
        font-size: $font-size-small;
    }
    .main {
        padding-left: 10%;
        padding-right: 10%;
        top: 30%;
        width: 100%;
    }
    .article {
        position: relative;
        text-align: justify;
        width: 100%;
    }
    .home-intro {
        top: 30%;
    }
}
