<!doctype html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" type="text/css" href="/css/styles.min.css">
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Chris Bacon</title>
    </head>
    <body class="body__main">
        <header>
            <div>
                <nav>
                    <div id="nav-bar" class="nav-bar">
                        <a class="nav-bar__item" href="/">
                            <span class="">HOME</span>
                        </a><a class="nav-bar__item" href="/cv/">
                            <span class="">CV</span>
                        </a><a class="nav-bar__item" href="/blog.html">
                            <span class="">BLOG</span>
                        </a><a class="nav-bar__item" href="/projects/">
                            <span class="">PROJECTS</span>
                        </a>
                    </div>
                </nav>
            </div>
        </header>

        <main class="main" role="main">
            <h1>$title$</h1>
            <div class="article">
                $body$
            </div>
        </main>
    </body>
</html>
